/* * {
  border: 1px solid black;
} */

.tunning-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 20px;
}

.tunning-container h2,
.tunning-container p {
  text-align: center;
}

.tunning-container .radio-group {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.tunning-container .mode-button {
  border: 1px solid #ccc;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  width: 140px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.tunning-container .mode-button:hover {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.tunning-container .mode-button.selected:hover {
  border: 1px solid #ccc;
  background-color: var(--primary-color);
  color: white;
}

.tunning-container .mode-button.selected {
  background-color: var(--secondary-color);
  color: white;
}

.tunning-container .tunning-sections {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* gap: 20px; */
  width: 100%;
}

.tunning-container .card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: var(--card-bg-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 45%;
  height: 500px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tunning-container table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  margin-bottom: 20px;
  table-layout: fixed;
}

.tunning-container td {
  padding: 8px 10px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.tunning-container td:first-child {
  width: 40%;
}

.tunning-container td:last-child {
  width: 60%;
}

.tunning-container input[type="number"] {
  width: 95%;
  padding: 8px;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.tunning-container .card button {
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: background-color 0.2s ease;
  width: 80%;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.tunning-container .card button:hover {
  background-color: var(--secondary-color);
}

.tunning-container .card button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.tunning-container .button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 15px;
}

.tunning-container button {
  min-width: 120px;
}

@media (max-width: 800px) {
  .tunning-container .tunning-sections {
    flex-direction: column;
    align-items: center;
  }

  .tunning-container .card {
    width: 100%;
    max-width: 300px;
  }
}

@media (max-width: 600px) {
  .tunning-container .radio-group {
    flex-direction: column;
    gap: 10px;
  }

  .tunning-container .mode-button {
    width: 200px;
  }

  .tunning-container .button-container {
    flex-direction: column;
    gap: 10px;
  }

  .tunning-container button {
    width: 100%;
  }
}

.loadingIcon {
  animation: spin 1s linear infinite;
  margin-right: 8px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
