.file-selection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.file-selection {
  width: 100%;
  margin-top: 20px;
}

.file-preview {
  width: 100%;
  margin-top: 20px;
}

.table-container {
  max-height: 400px;
  overflow: auto;
  margin: 0 auto;
  width: 100%;
}

.file-selection-actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.file-selection-actions button {
  margin: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.8em;
  background-color: var(--card-bg-color);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

#choosef {
  margin-bottom: 8px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 5px;
}

th {
  background-color: var(--secondary-color);
  color: white;
}

label {
  margin-top: 10px;
  display: block;
}

.file-selection select {
  padding: 8px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.file-selection-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
  width: 100%;
}

.file-selection-controls select {
  width: 220px;
}

.upload-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  font-size: 1.2em;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.upload-button:hover {
  background-color: var(--button-hover-border-color);
  color: white;
}

.separator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

@media (max-width: 1100px) {
  table {
    font-size: 0.7em;
    table-layout: auto;
  }
}

@media (max-width: 900px) {
  #choosef {
    margin-bottom: 2px;
  }

  table {
    font-size: 0.7em;
    table-layout: auto;
    margin-bottom: 30px;
  }
}

@media (max-width: 600px) {
  .file-selection-controls {
    flex-direction: column;
    align-items: center;
  }

  .file-selection-actions {
    flex-direction: column;
    align-items: center;
  }

  .file-selection-actions button {
    width: 100%;
    margin-bottom: 10px;
  }
}
