.file-selection-container {
  display: flex;
}

.file-selection {
  flex: 1;
  margin-top: 80px;
}

.file-preview {
  flex: 1;
  margin-right: 30px;
  min-width: 60%;
}

.table-container {
  max-height: 400px;
  overflow: auto;
}

.file-selection-actions {
  margin-top: 20px;
}

.file-selection-actions button {
  /* width: 120px; */
  margin: 0 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
  /* table-layout: fixed; columns have the same width */
  font-size: 0.8em;
  background-color: var(--card-bg-color);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

#choosef {
  margin-bottom: 8px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 5px;
}

th {
  background-color: var(--secondary-color);
  color: white;
}

label {
  margin-top: 10px;
  display: block;
}

.file-selection select {
  padding: 8px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.file-selection-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.file-selection-controls select {
  width: 220px;
}

.upload-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  font-size: 1.2em;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.upload-button:hover {
  background-color: var(--button-hover-border-color);
  color: white;
}

@media (max-width: 1100px) {
  table {
    font-size: 0.7em;
    table-layout: auto;
  }
}

@media (max-width: 900px) {
  .file-selection-container {
    flex-direction: column;
  }

  .file-selection {
    display: block;
    margin: 30px 0 0 0;
    padding: 0;
  }

  #choosef {
    margin-bottom: 2px;
  }

  .file-preview {
    min-width: 100%;
  }

  table {
    font-size: 0.7em;
    table-layout: auto;
    margin-bottom: 30px;
  }

  body {
    padding: 0;
    margin: 60px 0 0 0;
  }
}

@media (max-width: 600px) {
  body {
    margin: 40px 0 0 0;
  }
}
